.select-menu {
  display: flex;
  position: absolute;
  height: 6vh;
  /* width: 20vw; */
}

.fight-button h4 {
  display: flex;
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}