.home-gym {
  display: grid;
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: repeat(3 1fr);
  height: 70vh;
  width: 100%;
  margin: 5% auto;
}

#home-gym-container {
  background-color: rgb(234, 234, 234);
  border-radius: 6px;
}