.textbox {
  background-color: white;
  margin: 1% 0;
  border-radius: 3px;
  opacity: 99%;
  width: fit-content;

  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 4%;
  transform: scale(0.95);
}