.BoxerCard {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  height: 70vh;
  width: 100%;
  margin-top: -4%;
  border-radius: 8px;
  box-shadow: 1px 1px 0px 1px rgba(73, 71, 71, 0.1);
  opacity: 97%;
  color: rgb(255, 255, 255);
}

/* PREFIGHT Boxer Card **/
.intros-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin: 10% auto;
  padding: 5%;
  height: 56vh;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 1px 0px 4px 3px rgba(15, 11, 11, 0.4);
  border-radius: 1px;
  text-align: left;
}

.intros-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin: 10% auto;
  padding: 5%;
  height: 56vh;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 1px 0px 4px 3px rgba(15, 11, 11, 0.4);
  border-radius: 1px;
  text-align: left;
}

.intro-textbox h3 {
  font-weight: 700;
}

.BoxerCard > div {
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(73, 71, 71, 0.1);
}

.BoxerCard > div:hover {
  background-color: rgba(250, 250, 250, 0.975);
  /* color: rgb(253, 239, 135); */
  cursor: default;
}

.boxer-corner {
  margin: 0;
}

.boxer-info-name h4 {
  margin: 0 auto;
  border-radius: 2px;
}


/*** boxer logo/condition container ***/

.boxer-condition-body {
  display: flex;
  justify-content: center;
  position: relative;
  right: -40%;
  margin: 5% 0;
  height: 6rem;
  width: 22%;
  border-radius: 2px;
  transition-timing-function: ease-out;
}

.flip {
  display: flex;
  position: relative;
  transform: scaleX(-1);
  left: 40%;
}

.boxer-info, .boxer-info-profile h5 {
  text-align: left;
  margin: 0;
}

.boxer-info {
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
  /* padding: 2%; */
  width: 100%;
  height: 100%;
}

/*boxer info and stats*/
.boxer-info-profile, .fight-stats {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.boxer-info-profile > h5 {
  display: flex;
  position: relative;
  align-items: left;
  left: 5%;
}

.boxer-pic {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}


.fight-stats {
  /* padding: 2.5%; */
  margin: 0;
}

.info-titles {
  font-weight: 400;
}

.name {
  display: flex;
  margin-bottom: 3%;
  font-size: 1.3rem;
  justify-content: center;
  color: white;
}

#nickname {
  display: flex;
  justify-content: center;
}

.champ {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 50%;
}

.champ:hover {
  color:rgba(238, 236, 104, 0.975);
  background-color:rgba(73, 71, 71, 0.7);
}

.hide {
  display: none;
}

.show {
  display: block;
}