.Display {
  display: flex;
  background-color: rgba(8, 6, 6, 0.194);
  background-size: contain;
  margin: 1% auto;
  margin-top: 15%;
  height: 42vh;
  width: 20vw;
  padding: 5% auto;
  border-radius: 5px;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  scroll-behavior: smooth;
  animation-timing-function: ease-in-out;
  position: relative;
  bottom: 0;
  box-shadow: inset 1px 1px 3px 3px rgba(77, 76, 76, 0.6);
}


.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  margin: 1% 18%;

  background-color: rgba(75, 68, 68, .109);
  /* background-image: url('https://i.guim.co.uk/img/media/f130d023bbec5b75bff7ed8c2be00a4df65f3ff0/0_0_4091_4094/master/4091.jpg?width=1300&quality=85&fit=max&s=50c28d753fcf4168b7e23cd6d4eb6c4f'); */
  background-size: 85%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  width: 100%;
  height: 70vh;
  transform: scale(0.98);
  box-shadow: 2px 0 2px 2px rgba(0, 0, 0, 0.5);

}
.inner-container {
  margin-top: -50%;
  height: 50%;
}

.display-container {
  background-color: rgba(235, 224, 224, 0.9);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* scroll-behavior: smooth; */
}

.display-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hideRefTalk {
  color: gray;
}

#walk-ins {
  display: flex;
  color: white;
  margin: 0 auto;
  position: absolute;
  /* padding: 10%; */
}

.ref-talk {
  background-color: rgb(255, 253, 253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  padding-bottom: 25%;
  /* margin: 15%; */
  padding-top: 300%;
  width: 110%;
  height: 90%;
  /* color: rgb(49, 10, 10); */
  box-shadow: inset 1px 1px 3px 3px rgba(77, 76, 76, 0.6);
}

.ref-talk h3 {
  font-size: 1rem;
  width: 85%;
  margin: 3% auto;
}


.textbox {
  background-color: white;
  margin: 1% 0;
  border-radius: 1px;
  opacity: 99%;
  width: 95%;

  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 4%;
  transform: scale(0.95);
  box-shadow: 4px 3px 7px 2px rgba(77, 76, 76, 0.6);
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 227, 227);
}

.options-select {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 42%;
  height: 60%;
  border-radius: 1px;
  box-shadow: 1px 1px 4px 1px rgba(77, 76, 76, 0.3);
}

.options-select > * {
  margin: 5%;
}

.pep-talk-buttons {
  display: flex;
  margin: 0 auto;
  /* justify-content:center; */
  align-items:center;
  padding: 2%;
  height: 3rem;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 3px 1px rgba(77, 76, 76, 0.4);
  border-radius: 1px;
  margin: 1%;
}

.pep-talk-buttons:hover {
  cursor: pointer;
  background-color: rgb(227, 227, 227);
  transform: scale(0.995);
  border:none;
}